{% extends 'base.html' %}

{% block title %}Свадебный атлас{% endblock %}

{% block head %}
    <script src="http://api-maps.yandex.ru/2.0-stable/?load=package.standard&lang=ru-RU" type="text/javascript"></script>

    <script type="text/javascript">

        ymaps.ready(init);
        var myMap;

        function init(){
            
            myMap = new ymaps.Map ("map", {
                    {% if country_coords %}
                        center: [{{ country_coords }}],
                        zoom: 6
                    {% else %}
                        center: [30,0],
                        zoom: 3
                    {% endif %}
                    });

            myMap.container.fitToViewport();
            
            {% for p in places %}
                pm = new ymaps.Placemark(
                    [{{ p.coords }}], 
                    {
    //                     iconContent: "{{ p.name }}",
                        balloonContent: "Идёт загрузка..."
                    },
                    {                             
                        iconImageHref: '/static/images/map_heart.png',
                        iconImageSize: [31, 45],
                        iconImageOffset: [0, 0]
                        
                    }
                )
                pm.events.add('click', function () {
                    console.log(pm.balloon);
                    $.ajax('/get_place/{{ p.id }}/').success(function(data){
                            pm.properties.set({balloonContent:data});
                        })
//                     pm.balloon.s('/get_place/{{ p.id }}/');
                });

                myMap.geoObjects.add(pm);
            {% endfor %}
            
            myMap.controls.add('zoomControl');
            myMap.controls.add('scaleLine');
            myMap.controls.add('mapTools');
        
        };
    
    </script>

{% endblock %}

{% block breadcrumbs %}
    <li><a href="/wedding/">Ваша свадьба</a></li>
    <li class="_active"><a href="/atlas/">Свадебный атлас</a></li>
{% endblock %}

{% block content %}
    <div class="page-atlas">
        <div class="select ">
            <form method='get' id='filter'>
                <select size="1" name="country">
                    {% for c in countries %}
                        <option value='{{ c.id }}' {% if country == c.id %} selected='selected' {% endif %}>{{ c.title }}</option>
                    {% endfor %}
                </select>
            </form>
            <script>
                $('#filter select').change(function(){
                    $('#filter').submit();
                });
            </script>
        </div>
        <h5>Свадебный атлас</h5>

        <div class="mapp">  
<!--               <div class="map-layout"> </div> -->
                <div id="map" style = 'width: 1200px; height: 810px; margin: 0'></div>
        <br/>
    </div>
    </div>

{% endblock %}
