<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="lt-ie9 lt-ie8 lt-ie7" lang="ru"><![endif]-->
<!--[if IE 7]>
<html class="lt-ie9 lt-ie8" lang="ru"><![endif]-->
<!--[if IE 8]>
<html class="lt-ie9" lang="ru"><![endif]-->
<!--[if gt IE 8]><!-->
<html lang="ru"><!--<![endif]-->
<head>
    <title>Heart 2 Heart | {% block title %} {% endblock %}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=1100" />
    <link rel="stylesheet" href="/static/css/framework.css" />

    <link rel="apple-touch-icon" sizes="57x57" href="/static/images/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/static/images/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/static/images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/static/images/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/static/images/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/static/images/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/static/images/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/static/images/apple-touch-icon-152x152.png">
    <link rel="icon" type="image/png" href="/static/images/favicon-196x196.png" sizes="196x196">
    <link rel="icon" type="image/png" href="/static/images/favicon-160x160.png" sizes="160x160">
    <link rel="icon" type="image/png" href="/static/images/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/static/images/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="/static/images/favicon-32x32.png" sizes="32x32">
    <!--[if lt IE 9]>
        <script src="https://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="/static/css/style.css" />
    <script type="text/javascript" src="/static/js/slidr.min.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.cycle.lite.js"></script>
    <script type="text/javascript" src="/static/js/script.js"></script>
    <script type="text/javascript">
    $(document).ready(function() {
        if ($('#slidr-div').length)
            {
            $('.slideshow').cycle({
                fx: 'fade'
            });
            var s = slidr.create('slidr-div', {transition: 'fade', controls: 'none', overflow: 'true'});
            add_slides(s);
            s.auto(5000);
        }
    });
    </script>
    {% block head %}
    {% endblock %}

</head>
<body>
<div class="header-wrapper">
    <header>
        <a href="/" class="logo"></a>

        <div class="header-right">
            <h1 class="header-phone"><span>+7 (499)</span> 398-04-52</h1>

            <div class="header-contacts-second">
                <div class="social">
                    <a href="http://vk.com/h2hwedding" target="_blank"></a>
                    <a href="https://www.facebook.com/Heart2Heart.Wedding" target="_blank"></a>
                    <a href="http://instagram.com/happy_wedding" target="_blank"></a>
                    {# <a href="https://twitter.com/h2hwedding" target="_blank"></a> #}
                    <a href="http://www.youtube.com/user/h2hagency" target="_blank"></a>
                </div>
                <div class="header-e-mail"><a href="mailto:hello@h2h-wedding.com">hello@h2h-wedding.com</a></div>
            </div>
            <nav>
                <ul>
                    <li><a href="#">О компании</a>
                        <ul>
                            <li><a href="/about/philosophy/">Философия компании</a></li>
                            <li><a href="/about/team/">Наша команда</a></li>
<!--                             <li><a href="/about/ideas/">Свадебные идеи</a></li> -->
<!--                             <li><a href="/news/">Новости</a></li> -->
                        </ul>
                    </li>
                    <li><a href="#">Ваша свадьба</a>
                        <ul>
{% comment 'on construction' %}
                            <li><a href="/wedding/official/">Официальная церемония</a></li>
                            <li><a href="/wedding/symbolic/">Символическая церемония</a></li>
                            <li><a href="/wedding/wedding/">Венчание</a></li>
{% endcomment %}
                            <li><a href="/wedding/service/">Свадебные услуги</a></li>
<!--                             <li><a href="/atlas/">Свадебный атлас</a></li> -->
                        </ul>
                    </li>
                    <li><a href="/gallery/">Галерея</a></li>
                    <li><a href="/reviews/">Отзывы</a></li>
                    <li><a href="/blog/">Блог</a></li>
                    <li><a href="/contacts/">Контакты</a></li>
                    <li><a href="/order/">Online-заявка</a></li>

                </ul>
            </nav>
        </div>
    </header>
</div>

{% block body %}
    <section class="banner__inner">
    </section>

    <a href="{{ banner_link }}" class="banner_img" target="_blank"><img src="/media/{{ banner_img }}"/> </a>
    <div class="page-wrapper">
        <ul class="breadcrumbs">
            <li><a href="/">Главная</a></li>
            {% block breadcrumbs %}
                <li class="_active"><a href="#">Блог</a></li>
            {% endblock %}
        </ul>

        {% block content %}
        {% endblock %}

    </div>
{% endblock %}

<div class="footer-wrapper">
    <footer>
        <a href="#" class="logo"></a>

        <div class="footer-description">
            <h2>Happy Wedding Agency</h2>

            <h3 style="min-width: 27em">Мы организуем счастливые свадьбы в любой точке мира, и мы в восторге от того, что делаем!</h3>
        </div>
        <div class="footer-contacts">
            <h1>+7 (499) 398-04-52</h1>

            <div class="social">
                <a href="http://vk.com/h2hwedding" target="_blank"></a>
                <a href="https://www.facebook.com/Heart2Heart.Wedding" target="_blank"></a>
                <a href="http://instagram.com/happy_wedding" target="_blank"></a>
                <a href="https://twitter.com/h2hwedding" target="_blank"></a>
                <a href="http://www.youtube.com/user/h2hagency" target="_blank"></a>
            </div>
            <div style='clear: both; height: 30px'></div>
            <a href="http://webgenesis.ru" target="_blank" style='float: right'>Создание сайта</a>
        </div>
    </footer>
</div>

{% if not is_debug %}
    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-47485980-1']);
        _gaq.push(['_trackPageview']);

        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    </script>
{% endif %}

</body>
</html>