<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="lt-ie9 lt-ie8 lt-ie7" lang="ru"><![endif]-->
<!--[if IE 7]>
<html class="lt-ie9 lt-ie8" lang="ru"><![endif]-->
<!--[if IE 8]>
<html class="lt-ie9" lang="ru"><![endif]-->
<!--[if gt IE 8]><!-->
<html lang="ru"><!--<![endif]-->
<head>
    <title>Heart 2 Heart | {% block title %} {% endblock %}</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="/static/css/framework.css" />
    <!--[if lt IE 9]>
        <script src="https://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="/static/css/style.css" />
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.cycle.lite.js"></script>
    <script type="text/javascript" src="/static/js/script.js"></script>
    <script type="text/javascript">
    $(document).ready(function() {
        $('.slideshow').cycle({
            fx: 'fade'
        });
    });
    </script>
    {% block head %}
    {% endblock %}

</head>
<body>
<div class="header-wrapper">
    <header>
        <a href="/" class="logo"></a>

        <div class="header-right">
            <h1 class="header-phone"><span>+7 (495)</span> 555-55-55</h1>

            <div class="header-contacts-second">
                <div class="social">
                    <a href="http://vk.com/" target="_blank"></a>
                    <a href="https://www.facebook.com/" target="_blank"></a>
                    <a href="https://twitter.com/" target="_blank"></a>
                </div>
                <div class="header-e-mail"><a href="mailto:hello@h2h-wedding.com">hello@h2h-wedding.com</a></div>
            </div>
            <nav>
                <ul>
                    <li><a href="#">О компании</a>
                        <ul>
                            <li><a href="/about/philosophy/">Философия компании</a></li>
                            <li><a href="/about/team/">Наша команда</a></li>
                            <li><a href="/about/ideas/">Свадебные идеи</a></li>
                            <li><a href="/news/">Новости</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Ваша свадьба</a>
                        <ul>
                            <li><a href="/wedding/">Официальная церемония</a></li>
                            <li><a href="#">Свадебный атлас</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Галерея</a></li>
                    <li><a href="#">Отзывы</a></li>
                    <li><a href="#">Блог</a></li>
                    <li><a href="#">Контакты</a></li>
                    <li><a href="#">Online-заявка</a></li>
                
                </ul>
            </nav>
        </div>
    </header>
</div>

{% block body %}
    <section class="banner__inner">
    </section>

    <a href="#" class="banner_img" target="blank"><img src="/static/images/banner.png"/> </a>
    <div class="page-wrapper">
        <ul class="breadcrumbs">
            <li><a href="/">Главная</a></li>
            {% block breadcrumbs %}
                <li class="_active"><a href="#">Блог</a></li>
            {% endblock %}
        </ul>
            
        {% block content %}
        {% endblock %}
        
    </div>
{% endblock %}

<div class="footer-wrapper">
    <footer>
        <a href="#" class="logo"></a>

        <div class="footer-description">
            <h2>Happy Wedding Agency</h2>

            <h3>Мы организуем счастливые свадьбы в любой точке мира и мы в восторге от того, что делаем!</h3>
        </div>
        <div class="footer-contacts">
            <h1>+7 (495) 555-55-55</h1>

            <div class="social">
                <a href="http://vk.com/" target="_blank"></a>
                <a href="https://www.facebook.com/" target="_blank"></a>
                <a href="https://twitter.com/" target="_blank"></a>
            </div>
        </div>
    </footer>
</div>
</body>
</html>