{% extends 'base.html' %}

{% load thumbnail %}

{% block title %}Блог{% endblock %}

{% block head %}
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <script>
        $(function() {
            $( "#datepicker" ).datepicker();
        });
    </script>
    
    <link rel="stylesheet" href="/static/css/colorbox.css" />
    <script src="/static/js/jquery.colorbox-min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
    
            $(".gallery").each(function(index, v){
                $(this).find('.gallery__item').colorbox({rel: 'gallery'+index });
            });
        });
    </script>
{% endblock %}

{% block breadcrumbs %}
    
    {% if curr_cat %}
        <li><a href="/blog/">Блог</a></li>
        <li class="_active"><a href="/blog/{{ curr_cat.id }}/">{{ curr_cat.title }}</a></li>
    {% else %}
        <li class="_active"><a href="/blog/">Блог</a></li>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="page-blog">
        
        <div class="blog">

            <h5>Блог</h5>
            {% for b in blog %}
                <h6>{{ b.title }}</h6>
                 
                <img src="/media/{{ b.image }}">
                {{ b.content|safe }}
                
                <div class="wedding-place__gallery gallery" style='width: 720px'>
                    {% for p in b.photos.all %}
                        {% thumbnail p.image "x150" as im %}
                            <a class="gallery__item" href="/media/{{ p.image }}" title="">
                                <img src="{{ im.url }}" />
                            </a>
                        {% endthumbnail %}
                    {% endfor %}
                </div>
                <p><i>  {{ b.date }} </i></p>
                
                
                <hr />
            {% empty %}
                <h6>В данной категории нет статей.</h6>
            {% endfor %}
            
            
            {% if need_pagination %}
                <div class="page-nav">
                    {% for p in page_range %}
                        <a {% if p == blog.number %} class='active' {% endif %} href="{{ get_request }}?page={{ p }}">{{ p }}</a>
                    {% endfor %}
                </div>
            {% endif %}
            
        </div>
        
        <div class="blog__widget">
            
<!--             <div class="blog__widget__title">Календарь </div> -->
                
            <div class="widget"></div>
            
            <div class="tags">
<!--                 <div class="blog__widget__title">Теги </div> -->
                <ul>
                    {% for c in categories %}
                        <li><a href="/blog/{{ c.id }}/" {% if c == curr_cat %} style='color: #00abf0'{% endif %}>{{ c }}</a></li>
                    {% endfor %}
                </ul>
                    <a href="{{ v_banner_link }}" target="_blank"><img src="{{ v_banner_src }}" style="display:block;margin-top:20px;padding-top:20px"></a>
            </div>

        </div>
        
        
        
    </div>
{% endblock %}
