{% extends 'base.html' %}
{% load thumbnail %}

{% block title %}Галерея{% endblock %}

{% block head %}
    <link rel="stylesheet" href="/static/css/jquery-tilesgallery.css" />
    <script src="/static/js/jquery.tiles-gallery.js"></script>
    <script type="text/javascript">
    var tileset_selectors = [{% for a in albums %}"{{ a.id }}",{% endfor %}""];

    $(document).ready(function () {
        for (each in tileset_selectors) {
            tileIt("#tile-gallery-"+tileset_selectors[each]);
        };
    });

    function tileIt(selector) {
        $(selector).tilesGallery({
            tileMinHeight: 50,
            margin: 0,
            verticalAlign: 'middle',
            horizontalAlign: 'center',
            fadeInDuration: 700
        });
    };
    </script>
{% endblock %}

{% block breadcrumbs %}
    <li class="_active"><a href='#'>Галерея</a></li>
{% endblock %}

{% block content %}

    <div class="page-gallery">

<!--

        <form method='get' id='filter'>
            <div class="select">
                <select size="1" name="country">
                    <option value="">Все страны</option>
                    {% for c in countries %}
                        <option value="{{ c.id }}" {% if country == c.id %} selected {% endif %}>{{ c.title }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="select">
                <select size="1" name="year">
                    <option value="">Все года</option>
                    {% for y in years %}
                        <option value="{{ y }}" {% if year == y %} selected {% endif %}>{{ y }}</option>
                    {% endfor %}
                </select>
            </div>
        </form>

-->

        <script>
            $('#filter select').change(function(){
                $('#filter').submit();
            });
        </script>

        <h5>Галерея</h5>
        <br>
        <br>

            <div class="gallery">
            {% for a in albums %}
                <div class="album">
                    <a href="/gallery/{{ a.id }}/" title="">
                        <img src="/media/{{ a.preview_image }}" />
                        <div class="album__title">{{ a.title }}, {{ a.country }}</div>
                    </a>
                </div>
            {% endfor %}
            </div>

    </div>

{% endblock %}