{% extends 'base.html' %}
{% load thumbnail %}

{% block title %}Галерея{% endblock %}

{% block head %}
    <link rel="stylesheet" href="/static/css/jquery-tilesgallery.css" />
    <script src="/static/js/jquery.tiles-gallery.js"></script>
    <script type="text/javascript">
    var tileset_selectors = [{% for a in albums %}"{{ a.id }}",{% endfor %}""];

    $(document).ready(function () {
        for (each in tileset_selectors) {
            tileIt("#tile-gallery-"+tileset_selectors[each]);
        };
    });

    function tileIt(selector) {
        $(selector).tilesGallery({
            tileMinHeight: 50,
            margin: 0,
            verticalAlign: 'middle',
            horizontalAlign: 'center',
            fadeInDuration: 700
        });
    };
    </script>
{% endblock %}

{% block breadcrumbs %}
    <li class="_active"><a href='#'>Галерея</a></li>
{% endblock %}

{% block content %}

    <div class="page-gallery">
        <form method='get' id='filter'>
            <div class="select">
                <select size="1" name="country">
                    <option value="">Все страны</option>
                    {% for c in countries %}
                        <option value="{{ c.id }}" {% if country == c.id %} selected {% endif %}>{{ c.title }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="select">
                <select size="1" name="year">
                    <option value="">Все года</option>
                    {% for y in years %}
                        <option value="{{ y }}" {% if year == y %} selected {% endif %}>{{ y }}</option>
                    {% endfor %}
                </select>
            </div>
        </form>
        <script>
            $('#filter select').change(function(){
                $('#filter').submit();
            });
        </script>
        <h5>Галерея</h5>
        {% for a in albums %}
            <section>
                <div class="gallery">
                    <h3>{{ a.title }}</h3>
                    <p>({{ a.country }})</p>
                    <div id="tile-gallery-{{ a.id }}" class="gallery-item">
                    {% for p in a.photos.all %}
                        {% if forloop.counter < 7 %}
                        {% thumbnail p.image "x200" as im %}
                            <a class="gallery__item" href="/gallery/{{ a.id }}/" title="">
                                <img src="{{ im.url }}" />
                            </a>
                        {% endthumbnail %}
                        {% endif %}
                    {% endfor %}
                    </div>
                </div>
            </section>
        {% endfor %}

    </div>

{% endblock %}