{% extends 'base.html' %}

{% block title %}Главная{% endblock %}

{% block body %}
    <section class="banner">
        <div class="slideshow">
            {% for s in slideshow %}
                <a href="/gallery/"><img src="/media/{{ s.image }}" /></a>
            {% endfor %}
        </div>
    </section>
    
    <div class="ceremony-wrapper">
        <section class="ceremony">
            <div class="ceremony-official">
                <h3>Официальная<br>церемония</h3>
                <a href="/wedding/official/" class="preview">
                    <div><p class="anons">Кульминация вашей истории любви, самый трогательный и торжественный момент свадьбы, требующий особого внимания.</p></div>
                </a>
            </div>
            <div class="ceremony-symbolic">
                <h3>Символическая<br>церемония</h3>
                <a href="/wedding/symbolic/" class="preview">
                    <div><p class="anons">Отсутствие волнения и спешки, продуманность и точность позволяют сделать событие сказочно красивым и избежать непредвиденных обстоятельств. </p></div>
                </a>
            </div>
            <div class="ceremony-wedding">
                <h3><br>Венчание</h3>
                <a href="/wedding/wedding/" class="preview">
                    <div><p class="anons">Брак, заключенный на небесах — это особая степень родства и узы, которые невозможно разорвать.</p></div>
                </a>
            </div>
            <div class="ceremony-news">
                <h3>Новости</h3>
                {% for n in news %}
                    <article><p><span>{{ n.date }}</span> <a href="/blog/{{ n.category.id }}/">{{ n.title }}</a> {{ n.content_short }}</p></article>
                {% endfor %}
                
            </div>
        </section>
        <section class="philosophy-map">
            <div class="philosophy">
                <h3>Философия компании</h3>
                {{ philosophy|safe }}
            </div>
            <div class="map">
                <h3>Свадебный атлас</h3>
                <h2>57 стран</h2>
                <h2>285 городов</h2>
<!--                 <a href="/atlas/">присоединяйся!</a> -->
            </div>
        </section>
    </div>
{% endblock %}
