{% extends 'base.html' %}

{% block title %}Главная{% endblock %}

{% block body %}
    <section class="banner">
        <div class="slideshow">
            {% for s in slideshow %}
                <a href="/gallery/"><img src="/media/{{ s.image }}/" /></a>
            {% endfor %}
        </div>
    </section>
    
    <div class="ceremony-wrapper">
        <section class="ceremony">
            <div class="ceremony-official">
                <h3>Официальная церемония</h3>
                <a href="/wedding/official/" class="preview">
                    <div><p class="anons">Кульминация вашей истории любви, самый трогательный и торжественный момент вашей свадьбы. В официальной церемонии важна каждая деталь: каждое слово, каждый звук,  цветочное оформление и другой декор. Мы сделаем этот миг пронзительным и запоминающимся. </p></div>
                </a>
            </div>
            <div class="ceremony-symbolic">
                <h3>Символическая церемония</h3>
                <a href="/wedding/symbolic/" class="preview">
                    <div><p class="anons">Идея символической церемонии предельно проста и красива. Отсутствие волнения и спешки, продуманность и точность позволяют сделать событие сказочно красивым и избежать непредвиденных обстоятельств. Наиболее выигрышной будет церемония на выезде: на природе или в интерьерах, подходящих под концепцию события. </p></div>
                </a>
            </div>
            <div class="ceremony-wedding">
                <h3>Венчание</h3>
                <a href="/wedding/wedding/" class="preview">
                    <div><p class="anons">Семья и вера неразрывно связанные понятия для многих людей. Брак, заключенный на небесах — это особая степень родства и узы, которые невозможно разорвать. Красота свадебных традиций у разных народов завораживает и производит неизгладимое впечатление на гостей. </p></div>
                </a>
            </div>
            <div class="ceremony-news">
                <h3>Новости</h3>
                {% for n in news %}
                    <article><p><span>{{ n.date }}</span> <a href="/news/{{ n.slug }}/">{{ n.title }}</a>{{ n.content }}</p></article>
                {% endfor %}
                
            </div>
        </section>
        <section class="philosophy-map">
            <div class="philosophy">
                <h3>Философия компании</h3>
                {{ philosophy|safe }}
            </div>
            <div class="map">
                <h3>Свадебный атлас</h3>
                <h2>57 стран</h2>
                <h2>285 городов</h2>
                <a href="/atlas/">присоединяйся!</a>
            </div>
        </section>
    </div>
{% endblock %}