{% extends 'base.html' %}

{% block title %}Главная{% endblock %}

{% block body %}
    <section class="banner">
        <div class="slideshow">
            {% for s in slideshow %}
                <a href="/gallery/"><img src="/media/{{ s.image }}" /></a>
            {% endfor %}
        </div>
    </section>

    <div class="ceremony-wrapper">
        <section class="ceremony">
            <div class="ceremony-official">
                <h3>Официальная<br>церемония</h3>
                <a href="/wedding/official/" class="preview">
                    <div><p class="anons">Кульминация вашей истории любви, самый трогательный и торжественный момент свадьбы, требующий особого внимания.</p></div>
                </a>
            </div>
            <div class="ceremony-symbolic">
                <h3>Символическая<br>церемония</h3>
                <a href="/wedding/symbolic/" class="preview">
                    <div><p class="anons">Отсутствие волнения и спешки, продуманность и точность позволяют сделать событие сказочно красивым и избежать непредвиденных обстоятельств. </p></div>
                </a>
            </div>
            <div class="ceremony-wedding">
                <h3><br>Венчание</h3>
                <a href="/wedding/wedding/" class="preview">
                    <div><p class="anons">Брак, заключенный на небесах — это особая степень родства и узы, которые невозможно разорвать.</p></div>
                </a>
            </div>
            <div id="slidr-div" class="ceremony-news">
                <h3><img height="42px" src="/static/images/instagram.png"></h3>
                {% for g in instagallery %}
                <div data-slidr="{{ g.media_id }}">
                    <a href="{{ g.link }}" class="preview" style="background:url(/media/{{ g.image_low }}) no-repeat;width:270px;height:250px;margin-top:0px;border-radius:6px" target="_blank">
                        <div style="width:270px">
                            <p class="anons"><font style="font-size:small">{{ g.text }}</font></p>
                        </div>
                    </a>
                </div>
                {% endfor %}

            </div>
        </section>
        <section class="philosophy-map">
            <div class="philosophy">
                <h3>Философия компании</h3>
                {{ philosophy|safe }}
            </div>
            <div class="map">
                <h3>Свадебный атлас</h3>
                <h2>57 стран</h2>
                <h2>285 городов</h2>
<!--                 <a href="/atlas/">присоединяйся!</a> -->
            </div>
        </section>
    </div>

<script>
function add_slides(s) {
    s.add('h', [
    {% for g in instagallery  %}
        '{{ g.media_id }}',
    {% endfor %}
    '{{ instagallery.0.media_id }}'
    ]);
};
</script>
<!-- Yandex.Metrika counter -->
<script type="text/javascript">
(function (d, w, c) {
    (w[c] = w[c] || []).push(function() {
        try {
            w.yaCounter25675850 = new Ya.Metrika({id:25675850,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true});
        } catch(e) { }
    });

    var n = d.getElementsByTagName("script")[0],
        s = d.createElement("script"),
        f = function () { n.parentNode.insertBefore(s, n); };
    s.type = "text/javascript";
    s.async = true;
    s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

    if (w.opera == "[object Opera]") {
        d.addEventListener("DOMContentLoaded", f, false);
    } else { f(); }
})(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="//mc.yandex.ru/watch/25675850" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
{% endblock %}
