{% extends 'base.html' %}

{% block title %}Философия{% endblock %}

{% block breadcrumbs %}
    <li><a href="/about/philosophy/">О компании</a></li>
    <li class="_active"><a href="#">Философия</a></li>
{% endblock %}

{% block content %}
    <div class="page-phil">
        <h4><span>Философия компании</span></h4>

        <p>Джоли начала работать моделью на показах одежды уже в 14 лет, преимущественно в Нью-Йорке, Лос-Анджелесе
            и Лондоне. Кроме того, она появилась в нескольких музыкальных видеоклипах, в том числе у Ленни Кравица
            (видео Stand By My Woman), Rolling Stones (Anybody Seen My Baby) и Meat Loaf (видео Rock’n’Roll Dreams
            Come Through), после чего в возрасте 16 лет вернулась в театр.</p>

        <p>Джоли начала работать моделью на показах одежды уже в 14 лет, преимущественно в Нью-Йорке, Лос-Анджелесе
            и Лондоне. Кроме того, она появилась в нескольких музыкальных видеоклипах, в том числе у Ленни Кравица
            (видео Stand By My Woman), Rolling Stones (Anybody Seen My Baby) и Meat Loaf (видео Rock’n’Roll Dreams
            Come Through), после чего в возрасте 16 лет вернулась в театр.</p>

        <p>Джоли начала работать моделью на показах одежды уже в 14 лет, преимущественно в Нью-Йорке, Лос-Анджелесе
            и Лондоне. Кроме того, она появилась в нескольких музыкальных видеоклипах, в том числе у Ленни Кравица
            (видео Stand By My Woman), Rolling Stones (Anybody Seen My Baby) и Meat Loaf (видео Rock’n’Roll Dreams
            Come Through), после чего в возрасте 16 лет вернулась в театр.</p>

        <div class="page-phil__heading"><span> Наши принципы </span></div>
        <ul class="page-phil__list">
            <li class="page-phil__i">Свадьба для двоих или событие для сотен гостей одинаково интересны для нашего
                агенства. Это всегда возможность прикоснуться к вашему счастью, сделать его заметнее и придать ему
                нужную форму.
            </li>
            <li class="page-phil__i">Мы убеждены, что любовь с первого взгляда существует. Но это далеко не единственная
                ее
                форма.
            </li>
            <li class="page-phil__i">Мир у ваших ног, свадьбу можно организовать в любой точке мира. Поверьте, это
                реальнее, чем
                вам кажется!
            </li>
        </ul>
        <ul class="page-phil__list">
            <li class="page-phil__i">Свадьба для двоих или событие для сотен гостей одинаково интересны для нашего
                агенства. Это всегда возможность прикоснуться к вашему счастью, сделать его заметнее и придать ему
                нужную форму.</li>
            <li class="page-phil__i">Мы убеждены, что любовь с первого взгляда существует. Но это далеко не единственная
                ее
                форма.</li>
            <li class="page-phil__i">Мир у ваших ног, свадьбу можно организовать в любой точке мира. Поверьте, это
                реальнее, чем
                вам кажется!</li>

        </ul>
    </div>
{% endblock %}