{% extends 'base.html' %}
{% load thumbnail %}

{% block title %}Отзывы{% endblock %}

{% block breadcrumbs %}
    <li class="_active"><a href="#">Отзывы</a></li>
{% endblock %}

{% block content %}
    <div class="page-review">
        <h5>Отзывы</h5>
        <div class="review__wrap">
            {% for r in reviews %}
                <div class="review" style='overflow: hidden; '>
                    {% if r.photo %}
                        <img src="/media/{{ r.photo }}" alt="" style='max-width: 300px; max-height: 250px;'/>
                    {% else %}
                        <img src="/media/{{ r.place.image }}" alt="" style='max-width: 300px'/>
                    {% endif %}
                    <div class="preview__title"><span class="review-name">{{ r.name }}</span><a href="/wedding/type/{{ r.place.country.slug }}/{{ r.place.slug }}">{{ r.place.name }}</a></div>
                    <p>{{ r.text }}</p>
                </div>
            {% endfor %}
            <a href="#" class="review__btn"> Оставить отзыв</a>
            {% if need_pagination %}
                <div class="page-nav">
                    {% for p in page_range %}
                        <a {% if p == reviews.number %} class='active' {% endif %} href="{{ get_request }}?page={{ p }}">{{ p }}</a>
                    {% endfor %}
                </div>
            {% endif %}
            <div style='clear: both'></div>
         </div>
         

        <div class="review__popup">
            <form method='POST' enctype="multipart/form-data">
                <label for="review__name">Имена пары: <input id="review__name" name="name" type="text" placeholder="например: Аня и Андрей"/></label>
                
                <div class="select">
                    <select size="1" name="place">
                        <option value="1" selected>Название места проведения торжества</option>
                        {% for p in places %}
                            <option value="{{ p.id }}">{{ p.name }}</option>
                        {% endfor %}

                    </select>
                </div>
                <textarea name="text" placeholder="Текст отзыва"></textarea>
                <label for="review__photo">Фотография: <input id="review__photo" name="photo" type="file" placeholder=""/></label>
                <button type='submit' class='review__btn__send'>Оставить отзыв</button>
                <span class="review__close">закрыть</span>
                {% csrf_token %}
            </form>
        </div>
        
        
        
    </div>
{% endblock %}