{% extends 'base.html' %}

{% block title %}Команда{% endblock %}

{% block breadcrumbs %}
    <li><a href="/about/philosophy/">О компании</a></li>
    <li class="_active"><a href="#">Наша команда</a></li>
{% endblock %}

{% block content %}
    <div class="page-team">
        <h3>Мы организуем счастливые свадьбы</h3>

        <div class="team__wrap">
            {% for t in team %}
                <div class="team__i">
                    <div class="team__img">
                        <img src="/media/{{ t.image }}" alt="">
                    </div>
                    <span class="team__name">{{ t.name }}</span>
                    <span class="team__post">{{ t.position }}</span>

                    <p>{{ t.text }}</p>
                    
                    <div class="team__quote__wrap">
                        <span class="team__quote">
                            {{ t.quote }}
                        </span>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="team__wrap">
            <div class="team__i">
                <img src="/static/images/team-capital.png" style="display:block">
            </div>
            <div class="team__i">
                <img src="/static/images/team-russia.png" style="display:block">
            </div>
            <div class="team__i">
                <img src="/static/images/team-globe.png" style="display:block">
            </div>
        </div>
    </div>
{% endblock %}
