{% extends 'base.html' %}

{% load thumbnail %}

{% block title %}Официальная церемония | {{ country.title }}{% endblock %}

{% block head %}
    <link rel="stylesheet" href="/static/css/colorbox.css" />
    <script src="/static/js/jquery.colorbox-min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $(".gallery").each(function(index, v){
                $(this).find('.gallery__item').colorbox({rel: 'gallery'+index });
            });
        });
    </script>
{% endblock %}

{% block breadcrumbs %}
    <li><a href="/wedding/official/">Ваша свадьба</a></li>
    <li><a href="/wedding/{{ event_type.1 }}/">{{ event_type.2 }}</a></li>
    <li class="_active"><a href="#">{{ country.title }}</a></li>
{% endblock %}

{% block content %}
    <div class="country_desc">
        <h5>{{ country.title }}</h5>
        {% if country.map != '' %}
        <div class="counrty-map"><img src="/media/{{ country.map }}"/>
        </div>
        {% endif %}
        {{ country.text|safe }}
    </div>
   {% if places.count > 0 %}
    <div class="wedding-places">
        {% for p in places %}
            <div class="preview">
                <img src="/media/{{ p.image }}"/>
                <div class="preview__title"><a href="/wedding/{{ event_type.1 }}/{{ country.slug }}/{{ p.slug }}/">{{ p.name }}</a></div>
                {{ p.text|safe }}
            </div>
        {% endfor %}
    </div>
    {% endif %}

    <div class="wedding-place__gallery gallery">
        {% for p in country.photos.all %}
            {% thumbnail p.image "x150" as im %}
                <a class="gallery__item" href="/media/{{ p.image }}" title="">
                    <img src="{{ im.url }}" />
                </a>
            {% endthumbnail %}
        {% endfor %}
    </div>

{% endblock %}

